<h1>Seznam učitelů</h1>

<a href="/view/day">
    <button>Zpět na rozvrh</button>
</a>

<a href="/view/teachers/new">
    <button>Přidat učitele</button>
</a>

<table>
    <tr>
        <th>Příjmení</th>
        <th>Akce</th>
    </tr>

    {% for u in ucitele %}
    <tr>
        <td>{{ u.prijmeni }}</td>
        <td>
            <!-- EDIT -->
            <a href="/view/teachers/{{ u.id }}/edit">
                <button>Editovat</button>
            </a>

            <!-- DELETE -->
            <form action="/teachers/{{ u.id }}/delete" method="post" style="display:inline;">
                <button type="submit" onclick="return confirm('Opravdu smazat?')">
                    Smazat
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>